.catch-praise{
  margin-top: 250px;
}
.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  list-style-type: none;
  justify-content: space-between;
}
.nav-item{
  padding: 15px;
  cursor: pointer;
  display: table-cell;
  img{
    width: 50%;
  }
}
.nav-item a{
  text-align: center;
  text-decoration: none;
  color: white;
  //line-height: 72.5px;
}