.image-wrapper {
  img {
    width: 100%;
    vertical-align: middle;
  }
}
.title {
  font-size: 30px;
  padding: 15px;
}
.will-wrapper {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  .content {
    font-size: 30px;
    word-break: keep-all;
    margin-bottom: 15px;
  }
  .date {
    font-size: 20px;
  }
}
