.image-wrapper {
  img {
    width: 100%;
    vertical-align: middle;
  }
}
.title {
  font-size: 30px;
  padding: 15px;
}
.will-wrapper {
  width: 90%;
  margin: 0 auto;
  .will {
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    .content {
      font-size: 30px;
      word-break: keep-all;
      margin-bottom: 15px;
    }
    .date {
      font-size: 20px;
    }
    .logo-wrapper {
      margin-top: 100px;
      img {
        width: 50%;
        float: right;
      }
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }
  .join-wrapper {
    button {
      width: 100%;
      border: 1px solid #76dcfe;
      background-color: #76dcfe;
      border-radius: 5px;
      height: 50px;
      font-size: 30px;
      outline: none;
      color: #fff;
    }
  }
}
