.logo-wrapper {
  position: relative;
  height: 350px;
  img {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.phone {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 50px;
  margin-bottom: 30px;
  background-color: #eee;
  border-radius: 5px;
  line-height: 50px;
  padding-left: 15px;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  &::after {
    position: absolute;
    top: 0;
    right: 15px;
    content: "▼";
  }
}
.text-wrapper {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  .editor {
    height: 210px;
  }
  .plus {
    margin-top: 20px;
    width: 100%;
    background-color: #76dcfe;
    border: 1px solid #76dcfe;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
  }
}
.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 85%;
    height: 420px;
    border-radius: 5px;
    .title {
      font-size: 20px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #ccc;
      .exit {
        padding: 0 15px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }
    .list {
      height: 250px;
      overflow: scroll;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding: 0 15px;
        font-size: 20px;
        li {
          padding-bottom: 5px;
          border-bottom: 1px solid #ccc;
          .person {
            display: inline-block;
            width: 40%;
            font-weight: bold;
          }
          .phonenumber {
            display: inline-block;
            width: 60%;
          }
        }
      }
    }
    .phone-input {
      padding: 15px;
      border-bottom: 1px solid #ccc;
      .name {
        width: 35%;
        margin-right: 15px;
      }
      .tel {
        width: 40%;
      }
      input {
        height: 35px;
        padding: 0 10px;
        background-color: #eee;
        border: 1px solid #eee;
        border-radius: 5px;
        outline: none;
      }
    }
    .plus-wrapper {
      height: 50px;
      line-height: 40px;
      text-align: center;
      font-size: 40px;
      vertical-align: middle;
      color: #ccc;
      cursor: pointer;
    }
  }
}
