.title {
  padding: 15px;
  font-size: 30px;
}
.content-wrapper {
  padding: 15px;
  .message {
    border-radius: 5px;

    .content {
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid black;
      .text {
        font-size: 30px;
        word-break: keep-all;
      }
    }
    .btn-wrapper {
      button {
        width: 50%;
        border: 1px solid black;
        background-color: #fff;
        border: 1px solid black;
        font-size: 20px;
      }
    }
  }
}
